html, body {
    width: 100%;
    height: 100%;
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.margin_free{
    margin: 0;
}

.padding_free{
    padding: 0;
}

.fas{
    color: black;
}

h1, h2{
    font-size: 4.5rem;
    font-weight: bolder;
}

/* design of the navbar*/

.navbarheight{
    height: 150px;
}

.text-nav:hover{
    color: red;
}


/*                                                                  design of the section#1*/

.section1{
    height: 450px;
}

/* col #1*/

.btn_learnHTML, .btn_video, .btn_references {
    width: 200px;
    height: 45px;
    padding: 5px;
    border-radius: 25px;
}

.btn_learnHTML{
    background-color: #04aa6d;
    border: 1px solid #04aa6d;
    color: white;
}

.btn_learnHTML:hover{
    background-color: #088356;
    border: 1px solid #088356;
    color: white;
}

.btn_video{
    background-color: #fff4a3;
    border: 1px solid #fff4a3;
    color: black;
}

.btn_video:hover{
    background-color: #ebe19a;
    border: 1px solid #ebe19a;
    color: black;
}

.btn_references{
    background-color: #ffff;
    border: 1px solid #ffff;
    color: black;
}

.btn_references:hover{
    background-color: rgb(231, 224, 224);
    border: 1px solid rgb(231, 224, 224);
    color: black;
}

/* col #2 USED ALSO FOR THE SECTION#2 example_img*/

.example_img{
    border-radius: 10px;
}

/*                                                                  design of the section#2*/

.section2{
    height: 450px;
}


/*col#1*/

.btn_learnSQL, .btn_SQLref{
width: 200px;
height: 45px;
padding: 5px;
border-radius: 25px;
}

.btn_learnSQL{
    background-color: #04aa6d;
    border: 1px solid #04aa6d;
    color: white;
}

.btn_learnSQL:hover{
    background-color: #088356;
    border: 1px solid #088356;
    color: white;
}

/*                                                                  design of the section#3*/

.section3{
    height: 850px;
}

h3{
    font-size: 3rem;
    font-weight: bold;
}

/*row#1*/
/*col#1 & col#2*/


.php_container{
    background-color: #ffc0c7;
    border-radius: 10px;
}

.jquery_container{
    background-color: #fff4a3;
    border-radius: 10px;
}

.btn_learnjQ, .btn_learnPHP{
    width: 200px;
    height: 45px;
    padding: 5px;
    border-radius: 25px;
}

/*row#2*/

.pink_container, .yellow_container, .smokewhite_container, .lightgreen_container, .lightblue_container, .green_container{
    border-radius: 10px;
    height: 100px;
    width: 250px;
}

.pink_container{
    background-color: #ffc0c7;
}

.yellow_container{
    background-color: #fff4a3;
}

.smokewhite_container{
    background-color: #dfd9d8;
}

.lightgreen_container{
    background-color: #d9eee1;
}

.lightblue_container{
    background-color: #8bc3c4;
}

.green_container{
    background-color: #04aa6d;
}