html, body {
    width: 100%;
    height: 100%;
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
}

*, *::before, *::after{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.margin_free{
    margin: 0;
}

.padding_free{
    padding: 0;
}

.navbarheight{
    height: 150px;
}

